<fieldset>
<form action="~/Home/Empleados">
  Nombre: <input type="text" name="nombre" required /> <br/>	
  Edad: <input type="number" name="edad" required /> <br/>
  <button>OK</button>
</form> 
</fieldset>

<br>
<br>

<fieldset>
<form action="~/Home/Alumnos">
<legend> Informacion  </legend>
 Nombre: <input type="text" name="nombreForm" placeholder="Tu nombre" required>
 Cuenta: <input type="number" name="cuentaForm" placeholder="Cuenta" required>
 Promedio: <input type="number" step="0.01" name="promedioForm" placeholder="Promedio" required>
<button>Enviar</button>
</form>
</fieldset>