<form action="~/Home/Empleados">
  Nombre: <input type="text" name="nombre" required /> <br/>	
  Edad: <input type="number" name="edad" required /> <br/>
  <button>OK</button>
</form> 

<form action="~/Home/Alumno">
<legend> Informacion  </legend>
 Nombre: <input type="text" id="nombre" placeholder="Tu nombre" required>
 Cuenta: <input type="number" id="cuenta" placeholder="Cuenta" required>
 Promedio: <input type="number" id="promedio" placeholder="Promedio" required>

<button>Enviar</button>
</form>