@model List<Alumnos>

<h1>Alumnos</h1>
@foreach (var item in Model)
{
  <p>IdAlumno: @item.idAlumno Nombre: @item.nombre Cuenta: @item.cuenta Promedio: @item.promedio</p>
}

<a href="~/Home/Suma?a=2&b=3">Suma</a>
<p></p>
<a href="~/Home/Empleado?edad=22&nombre=Agustin">Empleado</a>